body {
  background-color: gray;
}

header {
  font: 21px arial, sans-serif;
  background-color: white;
  text-align: center;
}

footer {
  font: 20px arial, sans-serif;
  text-align: center;
}

div {
  margin: 0% 0% 0% 30%;
  color: purple;
}

img {
  min-width: 60%;
}

p {
  width: 60%;
  font: 15px arial, sans-serif;
}

h2 {
  font: 20px arial, sans-serif;
}
